@import './variables.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	@include full-width-height;
	@include font-inter;
}

.wrapper-inner {
	max-width: 1280px;
	margin: 0px auto;
}
.wrapper-outer {
	padding: 20px;
}
